@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/noto-sans-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/noto-sans-v30-latin-700.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #13262f;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.calculator {
  background-color: #13262f;
  padding: 20px;
  border-radius: 15px;
  flex: 0 1 400px;
  border: 2px solid #3e424a;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

.screen {
  border-radius: 15px;
  border: 2px solid #3e424a;
}

.output-screen {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  height: 25px;
  font-size: 12px;
  padding-right: 10px;
  color: #98f1ed;
}

.output-screen span {
  align-self: flex-end;
}

.input-screen {
  text-align: right;
  height: 58px;
  font-size: 36px;
  font-weight: 700;
  padding-right: 10px;
  color: #34e7d9;
}

.button-grid {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
}

.button-row {
  display: flex;
  gap: 10px;
}

.button-row button {
  height: 58px;
  flex: 1 1 0;
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid #3e424a;
}

.operators {
  background-color: #132c39;
  color: #34e7d9;
}

.operators:hover {
  background-color: #13262f;
  color: #eff5f3;
}

.operators:active {
  background-color: #132c39;
  color: #eff5f3;
}

.input {
  background-color: #13262f;
  color: #eff5f3;
}

.input:hover {
  background-color: #132c39;
  color: #34e7d9;
}

.input:active {
  background-color: #13262f;
  color: #34e7d9;
}

button.equals {
  background-color: #132c39;
  color: #f33e41;
}

button.equals:hover {
  background-color: #1c313e;
  color: #f33e41;
}

button.equals:active {
  background-color: #213643;
  color: #f33e41;
}

.footer,
a {
  margin-top: 30px;
  text-decoration: none;
  color: #34e7d9;
  text-align: center;
}

a:hover {
  border-bottom: 1px solid #34e7d9;
}
